@layer components {
  .label {
    @apply inline-block;
    font-family: var(--font-label);
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--color-on-surface-variant);
  }
}
